.button {

	-fx-background-color: transparent;
	-fx-background-image: url("/images/userButton.png");
	-fx-background-size: stretch;
	  -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-text-fill: black;
    -fx-font-family: "sans-serif";
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button:hover{
		-fx-background-image: url("/images/userButtonHover.png");

}